#
# Copyright (c) 2019, NVIDIA CORPORATION.  All rights reserved.
#

[Unit]
Description=NVIDIA weston service
Before=nv-oem-config-gui.service nv-oem-config-debconf@.service nvuser.service nvfb.service

[Service]
Type=simple
ExecStart=/etc/systemd/nvweston.sh

[Install]
WantedBy=multi-user.target
