#
# Copyright (c) 2018, NVIDIA CORPORATION.  All rights reserved.
#

[Unit]
Description=UART on ttyTHS0
; Everything depends on the NVIDIA per-boot script
After=nv.service
; TPC power gating must be enabled before anything touching gpu
After=nvpmodel.service
After=getty.target
Wants=getty.target

[Service]
Type=simple
ExecStart=/etc/systemd/nvgetty.sh

[Install]
WantedBy=multi-user.target
