# Copyright (c) 2019, NVIDIA CORPORATION.  All rights reserved.
#
# This file is based upon oem-config.service, provided
# under the following terms:
#
# This program is free software; you can redistribute it and/or modify it
# under the terms and conditions of the GNU General Public License,
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=End-user configuration after initial OEM installation (Debconf UI)
ConditionFileIsExecutable=/usr/sbin/nv-oem-config-firstboot
ConditionPathExists=/dev/%I
Wants=network-manager.service getty-static.service systemd-user-sessions.service systemd-resolved.service

# We never want to run the oem-config job in the live environment (as is the
# case in some custom configurations) or in recovery mode.
ConditionKernelCommandLine=!boot=casper
ConditionKernelCommandLine=!single
ConditionKernelCommandLine=!rescue
ConditionKernelCommandLine=!emergency

[Service]
Type=oneshot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
Environment="ttyport=/dev/%I"
ExecStartPre=/bin/sh -ec 'echo "ubiquity debian-installer/framebuffer boolean false" | debconf-set-selections'
ExecStart=/bin/sh -ec '\
    for x in $(cat /proc/cmdline); do				\
        case $x in						\
            debug-oem-config) debug=--debug ;;			\
            ubiquity/frontend=*) export frontend="${x#*=}" ;;	\
            automatic-oem-config) automatic=--automatic ;;	\
        esac;							\
    done;							\
    /usr/lib/nvidia/license/nvlicense-templates.sh;		\
    debconf-loadtemplate nvlicense /usr/lib/nvidia/license/nvlicense.templates;	\
    exec env FRONTEND="debconf_ui" nv-oem-config-firstboot $debug $automatic'
ExecStopPost=/bin/sh -ec 'echo "ubiquity debian-installer/framebuffer boolean true" | debconf-set-selections'

[Install]
WantedBy=nv-oem-config.target
